
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}



.container {
    height: 100vh;
    overflow: hidden;
    /* padding: 5px; */
    width: 100%;
    margin: auto;
    /* background-color: #fff; */
}

/* style du header */
.header-container{
    width: 97%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.logo h3{
    color: #38ab4d;
    text-shadow: 1px 1px 1px black;
}

.logo{
  
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* style du wave */

.wave-container {
    position: relative;
    top: -25rem;
}
  /* style de l'intro */
  .intro-container {

    /* border: solid; */
    padding: 20px;
    max-height: 400px;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .intro-container h1{
    font-size: 60px;
    /* letter-spacing: 2px; */
    /* font-family: sans-serif; */
    font-weight: bold;
    color: #38ab4d;
  }

  .intro-container h2{
   
    /* letter-spacing: 2px; */
    /* font-family: sans-serif; */
    font-weight: 400;
 
  }

  .start-btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #13405a;
    color: white;
    margin-top: 2rem;
    font-weight: bold;
    /* box-shadow: 1px 1px 1p; */

  }

  .intro-container p{
    /* letter-spacing: 2px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 300;
    margin-top: 5px;
    line-height: 20px;
    font-size: 18px;
  }

  .text-container{
    width: 70%;
    margin-top: 30px;
  }

  /* style du lottie */
.lottie-container{
    position: relative;
    top: -8rem;
    left: -8rem;
}


  
/* style du body */

.body-container{
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    margin: auto;
    /* width: 10%; */
}