#header{
    justify-content: space-between;
}
.title{
    color: #38ab4d;
}
#body{
    max-height: 350px;
    overflow-y: auto;
}
#btnshop{
    background: #13405a;
}
#quit{
    color: #13405a;
    font-size: 15px;
    width: 30px;
    height: 25px;
    cursor: pointer;
}