/* #root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.sell-footer {
  background-color: #f8f9fa; /* ou toute autre couleur de ton choix */
  padding: 20px;
  text-align: center;
}
